<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bypass Tool</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px Arial;
            margin: 0;
            background-color: #777;
        }

        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        button {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 10px;
            font-size: 16px;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 10px;
            font-size: 16px;
        }

        input[type=submit]:hover {
            background-color: rgb(30, 34, 255);
        }

        table,
        th,
        td {

            padding: 10px;
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }


        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
            padding: 10px;
            font-size: 16px;

        }

        button:hover {
            background-color: rgb(30, 34, 255);
        }

        #flags {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #flags td,
        #flags th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #flags tr {
            background-color: #f2f2f2;
        }


        #flags th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: Grey;
            color: white;
        }

        #results_table {
            margin-right:100px;
        }
        .header {
  padding: 10px;
  text-align: left;
  color: grey;
  background-color: black;
  font-size: 10px;
  color:white;
}
.header a:hover {

  color: grey;
}
.header a {
  float: right;
  color: #f2f2f2;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
    </style>

</head>

<body>
    <div class="header">
        <div>
  
          <img src="{{url_for('static', filename='Logo.png')}}"  width="250" height="50" />
  
          <a href='http://52.172.191.77:5000/text_recipients'>Text Recipients</a>
          <a href='http://52.172.191.77:5000/extract_interface'>Extracts</a>
          <a href='http://52.172.191.77:5000/'>Bypass Tool</a>
        </div>
  
        </div>
    <br><br><br><br><br><br>
    <center>
    <table>
        <tr>
            <td><input id="station_id" type="text" name="station_id" placeholder="O&M Code" style="width:200px;height:45px;margin-left:0px"></td>
            <td> <input id="key" type="password" name="key" style="width:200px;height:45px;margin-left:0px" placeholder="Secret Key"></td>
        </tr>
        <tr>
            <td><input id="fromdate" type="date" name="fromdate" style="margin-left:15px"></td>
            <td><input id="todate" type="date" name="todate" style="margin-left:15px"></td>
        </tr>
    <tr>
        <td colspan="2"><center><button id="Download">Download</button></center></td>
    </tr>
    </table>

    <br><br><br>
    <script>
  
        var confirm_button = document.getElementById("Download");
        confirm_button.onclick = function () {
            var stn = document.getElementById("station_id").value;
            var key = document.getElementById("key").value;
            var from_date = document.getElementById("fromdate").value;
            var to_date = document.getElementById("todate").value;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', "http://52.172.191.77:5000/download", false);
            query = { "Key": key };
            xhr.send(JSON.stringify(query));
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
                var JSON_received = JSON.parse(xhr.responseText);
            if (JSON_received == 'Incorrect Secret Key') {
                console.log('Wrong key');
            } else {
                let a = document.createElement("a");
                a.style = "display: none";
                document.body.appendChild(a);
                a.href = "http://52.172.191.77:5000/extract_download/".concat(stn+"/"+from_date+"/"+to_date);
                a.click();
            }

                }
            } 

    </script>
</body>