
<html>

<head>
    <title>Cleantech Solar</title>
</head>


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid #dddddd;
  text-align: left;
  padding: 15px;
}

body {
    font-family: 'Times New Roman', Times;
    color: black;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  margin-left: 10%
}

.button1{
  
  background-color: red;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  margin-right: 10%
}
.button2:hover {
  background-color: green;
}
.button1:hover {
  background-color: darkred;
}
box {
  background-color: green;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
box2 {
  background-color: red;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
a:link, a:visited {
  background-color: #8a8686;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(23, 23, 26);
}
.big{
    font-size: 500%;
}
</style>
{% if val==200 %}
<script>alert('Successfully added Data!')</script>
{% endif %}
{% if val==409 %}
<script>alert('Data with Date already Present!Please Select Replace Data option!')</script>
{% endif %}
{% if val==500 %}
<script>alert('Failed to add Data!')</script>
{% endif %}
{% if val==501 %}
<script>alert('Failed to add Data as Data with Date not Present!Please Select Add New Data option!')</script>
{% endif %}
<center><h1 class='big'>Cleantech Solar O&M</h1><br><br><br><br><br>
<h1><a href="/addpage">ADD NEW DATA</a></h1>
<br><br>
<h1><a href="/replacepage">REPLACE EXISTING DATA</a></h1></center>

